/*Logo Colors
Maple Leaf - (255, 0, 0)
Molecule Red - (205, 0, 0)
Molecule Grey - (205, 205, 205)
Bright Yellow - (255, 240, 45)
Dark Yellow - (245, 210, 45)
*/

/* Navigation Bar */
nav {
  background-color: #D61919;
}
button a:link {
  list-style-type: none;
  color: white;
  text-decoration: none;
}
button a:visited {
  list-style-type: none;
  color: white;
  text-decoration: none;
}
button a:hover {
  list-style-type: none;
  color: white;
  text-decoration: none;
}
button a:active {
  list-style-type: none;
  color: white;
  text-decoration: none;
}
.btn-danger {
  background-color: #D61919;
  border-color: #D61919;
}
.btn-danger:hover {
  background-color: #8b0000;
  border-color: #8b0000;
}
/* Home Screen */
#b1 {
  position:absolute;
  transition: .5s ease;
  right: 40%;

}
#b2{
  position:absolute;
  transition: .5s ease;
  right: 48%;
}
#about img{
  padding-bottom: 50px
  max-width:50%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn-outline-danger {
  color: #000000;
  border-color: #000000;
}
.btn-outline-danger:hover {
  background-color: #D61919;
  border-color: #D61919;
}