/*Logo Colors
Maple Leaf - (255, 0, 0)
Molecule Red - (205, 0, 0)
Molecule Grey - (205, 205, 205)
Bright Yellow - (255, 240, 45)
Dark Yellow - (245, 210, 45)
*/
body{
  background-image: linear-gradient(to bottom, rgba(26, 188, 156,0.5),rgba(41, 128, 185,0.5),rgba(236, 112, 99,0.5));
}

/* Navigation Bar */
nav i{
  color: #777;
}
nav i:hover {
	color: white;
}
/* Home Screen */
#aboutimg {
  max-width:50%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn-outline-danger {
  color: #000000;
  border-color: #000000;
}
.btn-outline-danger:hover {
  background-color: #D61919;
  border-color: #D61919;
}
.parent {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
}
.child {
  margin: 5px;
  font-size: 1em;
  text-align: center;
}
.listhp li{
  text-align: center;
  white-space: pre-line;
}
#hours{
  color: white;
  text-align: center;
  font-size: 5em;
}
#price{
  color: white;
  text-align: center;
  font-size: 4em;
}

/* Events */
#events {
	background-color: yellow;
	text-align: center;
}
#column1{
  background-color: white
   /* background-image: linear-gradient(to top right, rgba(205, 0, 0, 0.7) , rgba(205, 205, 205, 0.7)); */
  /* background-color: rgba(36, 113, 163,0.6); */
}
#column2{
  background-color: white
  /* background-color: rgba(231, 76, 60,0.6); */
  /* background-image: linear-gradient(to top left, rgba(26, 188, 156,0.5),rgba(41, 128, 185,0.5)); */
}
/* Footer */
i.f{
  color: #999998;
  margin-right:10px;
  margin-left: 10px;
}
i.f:hover {
	color: white;
}
