/*Logo Colors
Maple Leaf - (255, 0, 0)
Molecule Red - (205, 0, 0)
Molecule Grey - (205, 205, 205)
Bright Yellow - (255, 240, 45)
Dark Yellow - (245, 210, 45)
*/

/* Navigation Bar */
nav {
  background-color: #D61919;
}
button a:link {
  list-style-type: none;
  color: white;
  text-decoration: none;
}
button a:visited {
  list-style-type: none;
  color: white;
  text-decoration: none;
}
button a:hover {
  list-style-type: none;
  color: white;
  text-decoration: none;
}
button a:active {
  list-style-type: none;
  color: white;
  text-decoration: none;
}
.btn-danger {
  background-color: #D61919;
  border-color: #D61919;
  border-radius: 0;
}
.btn-danger:hover {
  background-color: #8b0000;
  border-color: #8b0000;
}
.dropdown-menu {
  background-color: rgb(205,205,205)
  border-color: rgb(205,205,205)
}
nav i{
  position: relative;
  float: right;
  color: white;
  padding-top: 10px;
  margin-right:10px;
  margin-left: 10px;
}
nav i:hover {
	color: #8b0000;
}
/* Home Screen */
#aboutimg {
  max-width:50%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn-outline-danger {
  color: #000000;
  border-color: #000000;
}
.btn-outline-danger:hover {
  background-color: #D61919;
  border-color: #D61919;
}
.parent {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
}
.child {
  margin: 5px;
  font-size: 1em;
  text-align: center;
}
#homelist1{
  text-align: left;
  display:inline;
}
/* Events */
#events {
	background-color: yellow;
	text-align: center;
}
/* Footer */
i.f{
  color: #999998;
  margin-right:10px;
  margin-left: 10px;
}
i.f:hover {
	color: #8b0000;
}
