/*Logo Colors
Maple Leaf - (255, 0, 0)
Molecule Red - (205, 0, 0)
Molecule Grey - (205, 205, 205)
Bright Yellow - (255, 240, 45)
Dark Yellow - (245, 210, 45)
*/
/*
body{
  background-image: linear-gradient(to bottom, rgba(26, 188, 156,0.5),rgba(41, 128, 185,0.5),rgba(236, 112, 99,0.5));
}
*/
body {
  margin: 0;
  background-color: #17182f;
}
canvas {
  display: block;
  vertical-align: bottom;
}
#particles-js{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000;
  background-image: linear-gradient(to bottom, #000046, #1cb5e0);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index:-1;
}
/* Navigation Bar */
nav i{
  color: #777;
}
nav i:hover {
	color: white;
}
/* Home Screen */
#aboutimg {
  max-width:50%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn-outline-danger {
  color: #000000;
  border-color: #000000;
}
.btn-outline-danger:hover {
  background-color: #D61919;
  border-color: #D61919;
}
.parent {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;
}
.child {
  margin: 5px;
  font-size: 1em;
  text-align: center;
}
#about, #events{
  width: 100%;
  background-color: rgba(255,255,255,0.3);
  margin-top: 30px;
  margin-bottom: 30px;
}
.row-centered {
  text-align: center;
}
.col-centered {
  margin: 0 auto;
  float: none;
}
h1.home, h1.events{
  text-align: center;
  color: white;
  font-size: 2em;
}
ul.home {
  list-style-type: none;
  padding: 20px;
}
#description {
  background-color: rgba(255,255,0,0.3);
  padding: 20px;
}
#timeline {
  background-color: rgba(255,0,0,0.3);
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
/*****************************************************/
.timeline .timeline-item::after, .timeline .timeline-item::before {
  clear: both;
  content: '';
  display: block;
  width: 100%;
}

.timeline {
  margin: 30px auto;
  padding: 0 10px;
  position: relative;
  transition: all 0.25s ease-in;
  width: 100%;
}

.timeline::before {
  background: #fefefe;
  content: '';
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  width: 3px;
}

.timeline::after {
  clear: both;
  content: '';
  display: table;
  width: 100%;
}


.timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
}

.timeline .timeline-item .timeline-icon {
  background: #fefefe;
  border-radius: 50%;
  height: 50px;
  left: 50%;
  margin-left: -23px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 50px;
}

.timeline .timeline-item .timeline-icon img,
.timeline .timeline-item .timeline-icon svg {
  left: 14px;
  position: relative;
  top: 11px;
}

.timeline .timeline-item .timeline-icon svg {
  top: 14px;
}

.timeline .timeline-item .timeline-content {
  padding: 20px;
  text-align: right;
  transition: all 0.25s ease-in;
  width: 45%;
  background: transparent;
}

.timeline .timeline-item .timeline-content p {
  color: #fefefe;
}

.timeline .timeline-item .timeline-content p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 0;
}

.timeline .timeline-item .timeline-content .timeline-content-date {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

.timeline .timeline-item .timeline-content .timeline-content-month {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
}

.timeline .timeline-item .timeline-content.right {
  float: right;
  text-align: left;
}

@media screen and (max-width: 39.9375em) {
  .timeline {
    margin: 30px;
    padding: 0;
    width: 90%;
  }
  .timeline::before {
    left: 0;
  }
  .timeline .timeline-item .timeline-content {
    float: right;
    text-align: left;
    width: 90%;
  }
  .timeline .timeline-item .timeline-content::before, .timeline .timeline-item .timeline-content.right::before {
    border-left: 0;
    border-right: 7px solid #fefefe;
    left: 10%;
    margin-left: -6px;
  }
  .timeline .timeline-item .timeline-icon {
    left: 0;
  }
}

/***************************************************************/

/* Events */
/* Footer */
i.f{
  color: #999998;
  margin-right:10px;
  margin-left: 10px;
}
i.f:hover {
	color: white;
}
