/*Logo Colors
Maple Leaf - (255, 0, 0)
Molecule Red - (205, 0, 0)
Molecule Grey - (205, 205, 205)
Bright Yellow - (255, 240, 45)
Dark Yellow - (245, 210, 45)
*/

/* Navigation Bar */
button a:link {
  list-style-type: none; 
  color: white;
  text-decoration: none;
}
button a:visited {
  list-style-type: none; 
  color: white;
  text-decoration: none;
}
button a:hover {
  list-style-type: none; 
  color: white;
  text-decoration: none;
}
button a:active {
  list-style-type: none; 
  color: white;
  text-decoration: none;
}

/* Home Screen */
#b1 {
  margin: 25px;
  position:absolute;
  transition: .5s ease;
  top: 38%;
  right: 40%;
}

#b2{
  margin: 25px;
  position:absolute;
  transition: .5s ease;
  top: 38%;
  right:  50%;
}
#about img{
  max-width:50%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
