body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("/Main.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 /* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
h1 {
  font-size: 7vw;
}
h2{
  font-size: 5vw;
}
